In [2]:
import pandas as pd

In [3]:
# Preparing datasets for analysis
school_location = pd.read_csv("data/school_location.csv")
school_financial = pd.read_csv("data/school_financial.csv")

filter_data = pd.merge(school_location, school_financial, on = ["id","name"], how = "inner")

filter_data["student_number_pellgrant"] = filter_data["percentage_of_pellgrant"] * filter_data["student_count"]
filter_data["student_number_federalloan"] = filter_data["percentage_of_federalloan"] * filter_data["student_count"]

analysis_data = filter_data[["id",
                            "name",
                            "tuition",
                            "public/private",
                            "student_number_pellgrant",
                            "student_number_federalloan"
]]

analysis_data

,id,name,tuition,public/private,student_number_pellgrant,student_number_federalloan
0,100654,Alabama A & M University,9243.0,1.0,3493.6594,3340.2096
1,100663,University of Alabama at Birmingham,11678.0,1.0,4321.2852,5846.2884
2,100690,Amridge University,14093.0,2.0,197.0852,211.4173
3,100706,University of Alabama in Huntsville,8246.0,1.0,1748.9966,2632.6924
4,100724,Alabama State University,8535.0,1.0,2518.1475,2669.1315
...,...,...,...,...,...,...
5480,497213,Great Northern University,11603.0,2.0,0.0000,0.0000
5481,497222,Salon Professional Academy-Elevate Salon Insti...,12789.0,3.0,9.5841,11.9784
5482,497268,Arizona College of Nursing-Salt Lake City,6378.0,3.0,79.7196,186.0000
5483,497277,Arizona College-Glendale,9305.0,3.0,352.0440,338.5872
5484,497310,Medspa Academies-National Institute of Modern ...,13553.0,3.0,36.7242,58.8887

In [12]:
school_count = school_location.groupby("state")["name"].count()

school_count

state
AK      9
AL     73
AR     78
AS      1
AZ     94
CA    574
CO     79
CT     63
DC     16
DE     15
FL    316
FM      1
GA    131
GU      3
HI     21
IA     74
ID     34
IL    211
IN     96
KS     72
KY     78
LA    106
MA    136
MD     75
ME     32
MH      1
MI    150
MN     86
MO    124
MP      1
MS     50
MT     28
NC    157
ND     26
NE     39
NH     30
NJ    142
NM     40
NV     36
NY    382
OH    263
OK     92
OR     72
PA    279
PR    118
PW      1
RI     20
SC     86
SD     27
TN    139
TX    368
UT     58
VA    129
VI      1
VT     16
WA     90
WI     83
WV     67
WY     10
Name: name, dtype: int64

In [14]:
type()

dtype('int64')

In [ ]:
# Linear Regression modeling
x_values = analysis_data["tuition"]
y_values = analysis_data["student_number_pellgrant"]


(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values,y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + " x + " + str(round(intercept,2))

In [ ]:
# Plotting the Data
plt.scatter(x_values,y_values)
plt.plot(x_values, regress_values, "r-")
plt.text(x_values.min(), y_values.max(), line_eq, fontsize=12, color="red")
plt.xlabel("Tuition")
plt.ylabel("Student # Receiving Pell Grant")
print(f"The r-squared is: {rvalue}")
plt.show()

In [ ]:
# Linear Regression modeling
x_values = analysis_data["tuition"]
y_values = analysis_data["student_number_federalloan"]


(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values,y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + " x + " + str(round(intercept,2))

In [ ]:
# Plotting the Data
plt.scatter(x_values,y_values)
plt.plot(x_values, regress_values, "r-")
plt.text(x_values.min(), y_values.max(), line_eq, fontsize=12, color="red")
plt.xlabel("Tuition")
plt.ylabel("Student # Receiving Federal Loan")
print(f"The r-squared is: {rvalue}")
plt.show()