In [3]:
import pandas as pd

collegelocation = pd.read_csv("data/school_location.csv")
collegemajor = pd.read_csv("data/school_major.csv")

merge_collegelocation=pd.merge(collegelocation, collegemajor, on=["name", "id"], how="inner")

merge_collegelocation.head()

,id,name,city,state,main_campus,highest_degree,zipcode,lat,lng,student_count,...,percentage_of_administration_major,percentage_of_sociology_major,percentage_of_trade_major,percentage_of_mechanic_major,percentage_of_production_major,percentage_of_transportation_major,percentage_of_visualart_major,percentage_of_health_major,percentage_of_business_major,percentage_of_history_major
0,100654,Alabama A & M University,Normal,AL,1,4,35762,34.783368,-86.568502,5098.0,...,0.0409,0.0249,0.0,0.0,0.0,0.0,0.0231,0.0000,0.1637,0.0000
1,100663,University of Alabama at Birmingham,Birmingham,AL,1,4,35294-0110,33.505697,-86.799345,13284.0,...,0.0195,0.0239,0.0,0.0,0.0,0.0,0.0249,0.2088,0.2159,0.0141
2,100690,Amridge University,Montgomery,AL,1,4,36117-3553,32.362609,-86.174010,251.0,...,0.0000,0.0000,0.0,0.0,0.0,0.0,0.0000,0.0000,0.5000,0.0000
3,100706,University of Alabama in Huntsville,Huntsville,AL,1,4,35899,34.724557,-86.640449,7358.0,...,0.0000,0.0127,0.0,0.0,0.0,0.0,0.0407,0.1341,0.1930,0.0073
4,100724,Alabama State University,Montgomery,AL,1,4,36104-0271,32.364317,-86.295677,3495.0,...,0.0648,0.0196,0.0,0.0,0.0,0.0,0.0511,0.0904,0.1513,0.0059

In [4]:
state_count = merge_collegelocation.groupby("state")["name"].count()

count = pd.DataFrame(state_count)
count.head()

       name
state
AK        9
AL       71
AR       76
AS        1
AZ       94

In [5]:
merge_collegelocation.columns

Index(['id', 'name', 'city', 'state', 'main_campus', 'highest_degree',
       'zipcode', 'lat', 'lng', 'student_count', 'public/private', 'control',
       'openadmp', 'percentage_of_agriculture_major',
       'percentage_of_conservation_major', 'percentage_of_architecture_major',
       'percentage_of_ethniic_major', 'percentage_of_communication_major',
       'percentage_of_techincalsupport_major',
       'percentage_of_computerscience_major', 'percentage_of_culinary_major',
       'percentage_of_education_major', 'percentage_of_engineer_major',
       'percentage_of_engineertech_major', 'percentage_of_language_major',
       'percentage_of_family_major', 'percentage_of_legal_major',
       'percentage_of_english_major', 'percentage_of_humanities_major',
       'percentage_of_science_major', 'percentage_of_biology_major',
       'percentage_of_math_major', 'percentage_of_appliedscience_major',
       'percentage_of_interdisciplinary_major', 'percentage_of_fitness_major',
       'percentage_of_philosophy_major', 'percentage_of_theology_major',
       'percentage_of_physic_major', 'percentage_of_sciencetech_major',
       'percentage_of_psychology_major', 'percentage_of_security_major',
       'percentage_of_administration_major', 'percentage_of_sociology_major',
       'percentage_of_trade_major', 'percentage_of_mechanic_major',
       'percentage_of_production_major', 'percentage_of_transportation_major',
       'percentage_of_visualart_major', 'percentage_of_health_major',
       'percentage_of_business_major', 'percentage_of_history_major'],
      dtype='object')

In [7]:
# Get the column name with the maximum percentage for each row
merge_collegelocation['Max_Major'] = merge_collegelocation.loc[:, 'percentage_of_agriculture_major': 'percentage_of_history_major'].idxmax(axis=1)

# Remove the common prefix from the values in the column
merge_collegelocation['Max_Major'] = merge_collegelocation['Max_Major'].str.replace('percentage_of_', '')


merge_collegelocation['Max_Major']

0           biology_major
1          business_major
2          business_major
3          engineer_major
4          business_major
              ...
5463    agriculture_major
5464    agriculture_major
5465       culinary_major
5466    agriculture_major
5467    agriculture_major
Name: Max_Major, Length: 5468, dtype: object